{% comment %} 로그인 화면 {% endcomment %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 화면</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script defer src="{% static 'js/account.js' %}"></script>
    {% comment %} CSS연동 {% endcomment %}
    <link rel='stylesheet' type="text/css" href="{% static 'css/login.css' %}"/>
    {% comment %} sweetalert2 사용함 {% endcomment %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.4.10/dist/sweetalert2.min.css">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>

{% comment %} 회원가입 {% endcomment %}
<div class="container" id="container">
  <div class="form-container sign-up-container">
    <form method="post" action="signup/" id="signup" name="signup">
      {% csrf_token %}
      <h1> 회원가입 </h1>
      <input type="text" placeholder="Id" id="account1" name="account"/>
      <button id="checkiddouble">아이디 중복검사</button>
      <input type="email" placeholder="Email" id="email1" name="email" />
        <div id="email_check"></div>
      <input type="password" placeholder="Password" id="password1" name="password"/>
      <input type="text" placeholder="Name" id="username1" name="username"/>
      <button id="signup2">가입하기</button>
    </form>
  </div>


  {% comment %} 로그인 기능 {% endcomment %}
  <div class="form-container sign-in-container">
    <form method="post" id='login' name="login">
      {% csrf_token %}
      <h1>로그인</h1>
      <span></span>
      <input type="text" placeholder="Id" id="account2" name="account"/>
      <div style="color: red;">{{iderror}}</div>
      <input type="password" placeholder="Password" id="password2" name="password"/>
      <div style="color: red;">{{pwderror}}</div>
      <button id="buttonlogn">로그인</button>
    </form>
  </div>
  

  {% comment %} 화면전환기능 구현파트 {% endcomment %}
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>어서오세요</h1>
        <p>로그인을 진행해주세요</p>
        <button class="ghost" id="signIn">로그인</button>
        <br>
        <button class="home">홈으로</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>반가워요!</h1>
        <p>정보를 입력해주세요!</p>
        <button class="ghost" id="signUp">회원가입</button>
        <br>
        <button class="home">홈으로</button>
      </div>
    </div>
  </div>
</div>


<script>
$(document).ready(function(){
  $("#buttonlogn").on("click",function(){
    if(login.account.value == ""){ // id를 입력하지 않으면 아이디 alert 띄우기
      swal("ID","아이디를 다시 입력해주세요", "warning");
      return false;
    }else if(login.password.value == ""){ // 비밀번호를 입력하지 않으면 alert 띄우기
      swal("PASSWORD","비밀번호를 다시 입력해주세요", "warning");
      return false;
    } else { // 아이디 비밀번호가 다 입력 되었다면 제출하기
      submit();
    }




  })
  // 버튼 활성화 비활성화 기능 부여하기
 /* function validateField(field,buttonElement) {
    var value = field.val();
    if (value === "") {
      buttonElement.prop("disabled", true); // 버튼 비활성화
    } else {
      buttonElement.prop("disabled", false); // 버튼 활성화
    }
  }

  // 아이디 필드 검증
  $("#account2").on("focusout", function() {
    validateField($("#account2"), $("#buttonlogn"));
  });

  // 비밀번호 필드 검증
  $("#password2").on("focusout", function() {
    validateField($("#password2"), $("#buttonlogn"));
  });*/

  //====================================================

  // 회원가입 
  $("#signup2").on("click", function(e){
    e.preventDefault();
    if (signup.account.value == ""){
      swal("ID","아이디를 다시 입력해주세요", "warning");
      return false;
    }
    if (signup.email.value == ""){
      swal("EMAIL","이메일을 다시 입력해주세요", "warning");
      return false;
    }
    if (signup.password.value == ""){
      swal("PASSWORD","비밀번호를 다시 입력해주세요", "warning");
      return false;
    }
    if (signup.username.value == ""){
      swal("NAME","이름을 다시 입력해주세요", "warning");
      return false;
    }

    swal("SIGNUP","회원가입을 원하시면 'OK'를 눌러주세요", "success").then((value) => {signup.submit()});

  });
  
  /*
  function validateField2(field, buttonElement2) {
    var value2 = field.val();
    if (value2 === "") {
      buttonElement2.prop("disabled", true); // 버튼 비활성화
    } else {
      buttonElement2.prop("disabled", false); // 버튼 활성화
    }
  }
  
  $("#account1").click("focusout",function(){
    validateField2($("#account1"), $("#signup2"));
  });
  
  
  $("#email1").click("focusout",function(){
    validateField2($("#email1"),  $("#signup2"));
  });
  

  $("#password1").click("focusout",function(){
    validateField2($("#password1"),  $("#signup2"));
  });
  */
  
  //===========================================================
  
  // 회원가입시 아이디 중복확인 진행하기
  $("#checkiddouble").click(function(){
    event.preventDefault();
    window.open("check","중복확인","width=400, height=300, top=20, center=50")
    // url링크 부여
    $("#checkid").val($("#account2").val());
  })

  
  // 이메일 형식 체크 정규식
  // change 사용
  $("#email1").on("change",function(){
    // 정규식 사용하기
    var pattern = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
    // 
    let ss = $("#email1").val();
    
    //console.log(pattern.test(ss));
    // test 정규 표현식과의 비교를 위함.
    if(pattern.test(ss)){
      $("#email_check").empty();
    }else {
      $("#email_check").html("유효하지 않습니다");
    }
  });

  $(".home").on("click",function(){
    location.href = "/";
  });

});
</script>
</body>
</html>
