{% comment %} 로그인 화면 {% endcomment %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 화면</title>
    <script src="https://code.jquery.com/jquery-latest.min.js"></script>
    <script defer src="{% static 'js/account.js' %}"></script>
    {% comment %} CSS연동 {% endcomment %}
    <link rel='stylesheet' type="text/css" href="{% static 'css/login.css' %}"/>
   
</head>
<body>

{% comment %} 회원가입 {% endcomment %}
<div class="container" id="container">
  <div class="form-container sign-up-container">
    <form method="post" action="signup/" id="signup" name="signup">
      {% csrf_token %}
      <h1> 회원가입 </h1>
      <input type="text" placeholder="Id" id="account1" name="account"/>
      <button id="check">아이디 중복검사</button>
      <input type="email" placeholder="Email" id="email1" name="email" />
      <input type="password" placeholder="Password" id="password1" name="password"/>
      <input type="text" placeholder="Name" id="username1" name="username"/>
      <button type="submit" id="signup2">가입하기</button>
    </form>
  </div>


  {% comment %} 로그인 기능 {% endcomment %}
  <div class="form-container sign-in-container">
    <form method="post" id='login' name="login"> 
      {% csrf_token %}
      <h1>로그인</h1>
      <span></span>
      <input type="text" placeholder="Id" id="account2" name="account"/>
      <input type="password" placeholder="Password" id="password2" name="password"/>
      <button type="submit" id="buttonlogn">로그인</button>
    </form>
  </div>

  {% comment %} 화면전환기능 구현파트 {% endcomment %}
  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>어서오세요</h1>
        <p>로그인을 진행해주세요</p>
        <button class="ghost" id="signIn">로그인</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>반가워요!</h1>
        <p>정보를 입력해주세요!</p>
        <button class="ghost" id="signUp">회원가입</button>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function(){
  // 버튼 활성화 비활성화 기능 부여하기
  function validateField(field,buttonElement) {
    var value = field.val();
    if (value === "") {
      buttonElement.prop("disabled", true); // 버튼 비활성화
    } else {
      buttonElement.prop("disabled", false); // 버튼 활성화
    }
  }

  // 아이디 필드 검증
  $("#account2").on("focusout", function() {
    validateField($("#account2"), $("#buttonlogn"));
  });

  // 비밀번호 필드 검증
  $("#password2").on("focusout", function() {
    validateField($("#password2"), $("#buttonlogn"));
  });

  
  
  function validateField2(field, buttonElement2) {
    var value2 = field.val();
    if (value2 === "") {
      buttonElement2.prop("disabled", true); // 버튼 비활성화
    } else {
      buttonElement2.prop("disabled", false); // 버튼 활성화
    }
  }
  
  $("#account1").click("focusout",function(){
    validateField2($("#account1"),  $("#signup2"));
  });
  
  
  $("#email1").click("focusout",function(){
    validateField2($("#email1"),  $("#signup2"));
  });
  

  $("#password1").click("focusout",function(){
    validateField2($("#password1"),  $("#signup2"));
  });

  
  $("#check").click(function(){
    event.preventDefault();
    window.open("check","중복확인","width=400, height=300, top=20, center=50")
    // url링크 부여
    $("#checkid").val($("#account2").val());
  })
  
  
});
</script>
</body>
</html>
