<!-- 2022.06.12
{% comment %} 로그인 화면 {% endcomment %} -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인 화면</title>
    {% comment %} CSS연동 {% endcomment %}
    <link rel='stylesheet' type="text/css" href="{% static 'css/login.css' %}"/>
</head>
<body>
  {% comment %} 회원가입 진행 {% endcomment %}
  {% comment %} <div class="container" id="container">
  <div class="form-container sign-up-container">
    <form method="post" action="{% url 'Login:signup' %}">
      {% csrf_token %}
      <h1>계정생성</h1>
      {% comment %} <input type="text" placeholder="Name" /> 
      <input type="text" placeholder="text" name="username" id="username"
      value="{{ form.username.value|default_if_none:''}}" />
      <input type="password" placeholder="Password" name="password1" id="password1" 
      value="{{ form.password1.value|default_if_none:''}}"/>
      <input type="password" placeholder="Password" name="password2" id="password2" 
      value="{{ form.password2.value|default_if_none:''}}"/>
      <input type="text" placeholder="E-mail" name="email" id="email" 
      value="{{ form.email.value|default_if_none:''}}"/>
      <button type="submit" id="SignUp">Sign Up</button>
    </form>
  </div> {% endcomment %}
  {% comment %} 로그인 진행 {% endcomment %}
  <div class="form-container sign-in-container">
    <form method="post" action="{% url 'Login:login' %}">
      {% csrf_token %}
      <h1>로그인</h1>
      <span></span>
      <input type="text" placeholder="text" name="username" id="username"
        value="{{ form.username.value|default_if_none:''}}" />
      <input type="password" placeholder="Password" name="password" id="password" 
        value="{{ form.password1.value|default_if_none:''}}"/>
      <a href="#">Forgot your password?</a><!-- 비밀번호 재설정 링크넣기 -->
      <button type="submit" id="SignIn">Sign In</button>
    </form>
  </div>

  <div class="overlay-container">
    <div class="overlay">
      <div class="overlay-panel overlay-left">
        <h1>반갑습니다!</h1>
        <p>로그인을 원하시면 아래버튼을 눌러주세요</p>
        <button class="ghost" id="signIn">Sign In</button>
      </div>
      <div class="overlay-panel overlay-right">
        <h1>안녕하세요!</h1><!--  -->
        <p>회원가입을 원하신다면 아래버튼을 눌러주세요</p>
        {% comment %} <button class="ghost" id="signUp">Sign Up</button> {% endcomment %}
        <button id="signUp">Sign Up</button>
      </div>
    </div>
  </div>
</div>
<script src="{% static 'js/account.js' %}"></script>
</body>
</html>