<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>
<body>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
          <form method="post" action="{% url 'signup' %}">
            {% csrf_token %}
            <h1>계정생성</h1>
            {% comment %} <input type="text" placeholder="Name" /> {% endcomment %}
            <input type="text" placeholder="text" name="username" id="username"
            value="{{ form.username.value|default_if_none:''}}" />
            <input type="password" placeholder="Password" name="password" id="password" 
            value="{{ form.password1.value|default_if_none:''}}"/>
            <input type="password" placeholder="Password" name="password2" id="password2" 
            value="{{ form.password2.value|default_if_none:''}}"/>
            <input type="text" placeholder="E-mail" name="email" id="email" 
            value="{{ form.email.value|default_if_none:''}}"/>
            <button type="submit" id="SignUp">Sign Up</button>
          </form>
        </div>
</body>
</html>