<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>
<body>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
          <form method="post" action=".">
            {% csrf_token %}
            <h1>계정생성</h1>
            {% comment %} <input type="text" placeholder="Name" /> {% endcomment %}
            <input type="text" placeholder="text" name="username" id="username">
            <input type="password" placeholder="Password" name="password" id="password">
            <input type="password" placeholder="re_password" name="re_password" id="re_password">
            <input type="text" placeholder="E-mail" name="email" id="email"/>
            <button type="submit" id="SignUp">Sign Up</button>
          </form>
        </div>
</body>
</html>