{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %} 
{% comment %} 부트스트랩 적용한 상속 전용 탬플릿 {% endcomment %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Document{% endblock %}</title>
  {% block extra_style %}
  {% endblock %}
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <style>
    body {
      font-family: "Lato", sans-serif;
    }
    
    .sidenav {
      width: 80px;
      position: fixed;
      z-index: 1;
      top: 300px;
      left: 10px;
      background-color: black;
      overflow-x: hidden;
      padding: 8px 0;
    }
    
    .sidenav a {
      padding: 6px 8px 6px 10px;
      text-decoration: none;
      font-size: 15px;
      color: #eee;
      display: block;
    }
    
    .sidenav a:hover {
      color: yellow;
    }
    
    .main {
      margin-left: 200px; /* Same width as the sidebar + left position in px */
      font-size: 28px; /* Increased text to enable scrolling */
      padding: 0px 10px;
    }
    
    </style>
  {% comment %} <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.0/dist/cerulean/bootstrap.min.css" rel="stylesheet"> {% endcomment %}
</head>
<body>
  <div class="sidenav">
    <a href="/">Home</a>
    <a href="#">Top</a>
    <a id="분석" href="#">분석</a>
    <a id="현황" href="#">현황</a>
    <a id="통계" href="#">통계</a>
    <a id="report" href="#">보고서</a>
  </div>
  <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Project</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id='분석' href="#">분석</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id='통계' href="#">통계</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id='현황' href="#">현황</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id=report href="#">보고서</a>
          </li>
          {% comment %} <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Dropdown</a>
            {% comment %} <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div> 
          </li> {% endcomment %}
        </ul>
        {% comment %} <form class="d-flex">
          <input class="form-control me-sm-2" type="search" placeholder="Search">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form> {% endcomment %}
      </div>
    </div>
  </nav>
  </div>
  <div class="container">
    {% block content %}
      
    {% endblock %}
  
  </div>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script type="text/javascript">
    // 네브바 이동 기능 구현
    $(document).ready(function(){
      $('#report').click(function(event){
        event.preventDefault();
        location.href = 'http://127.0.0.1:8000/report/report'
      });
      $('#분석').click(function(event){ // 임시로 링크 걸어놈
        event.preventDefault();
        location.href = 'http://127.0.0.1:8000/report/report'
      });
      $('#통계').click(function(event){
        event.preventDefault();
        location.href = 'http://127.0.0.1:8000/report/report'
      });

      $('#현황').click(function(event){
        event.preventDefault();
        location.href = 'http://127.0.0.1:8000/showmap/submap'
      });

    var sidebarWidth = document.querySelector('.sidenav').offsetWidth;
    document.querySelector('.main').style.marginLeft = sidebarWidth + 'px';
      
    });
    </script>
</body>
</html>
