{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>bike - Charts</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- Custom fonts for this template-->
    <link href="{%static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{%static 'css/sb-admin-2.min.css'%}" rel="stylesheet">
</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">CHARTS</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>HOME</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>MENU</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="login.html">통계</a>
                        <a class="collapse-item" href="forgot-password.html">현황</a>
                        <a class="collapse-item" href="#">보고서</a>
                        <div class="collapse-divider"></div>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
    <!-- Custom fonts for this template -->
    <link href="{%static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{%static 'css/sb-admin-2.min.css'%}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="{%static 'vendor/datatables/dataTables.bootstrap4.min.css'%}" rel="stylesheet">

</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                        <tr>
                                          <th>장소명</th>
                                          <th>자전거도로</th>
                                          <th>정류장/지하철역</th>
                                          <th>공원</th>
                                          <th>관광지</th>
                                          <th>학교</th>
                                          <!--<th>총이동</th>-->
                                          <th>예측</th>
                                        </tr>
                                        {% for index, row in result.iterrows %}
                                        <tr>
                                            <td>
                                                <form action='/showmap/analysis' method='GET'>
                                                    <input type='hidden' name='place' value='{{ row.장소명 }}'>
                                                    <input type='hidden' name='cycle' value='{{ row.자전거도로 }}'>
                                                    <input type='hidden' name='train' value='{{ row.지하철역 }}'>
                                                    <input type='hidden' name='park' value='{{ row.공원 }}'>
                                                    <input type='hidden' name='tour' value='{{ row.관광지 }}'>
                                                    <input type='hidden' name='school' value='{{ row.대학 }}'>
                                                    <input type='hidden' name='pop' value='{{ row.총이동 }}'>
                                                    <input type='button' value={{ row.장소명 }} class="btn btn-light">
                                                </form> 
                                            </td> 
                                            <td>{{ row.자전거도로 }} %</td>
                                            <td>{{ row.지하철역 }} %</td>
                                            <td>{{ row.공원 }} %</td>
                                            <td>{{ row.관광지 }} %</td>
                                            <td>{{ row.대학 }} %</td>
                                            <!--<td>{{ row.총이동 }} 명</td>-->
                                            <td>
                                                {% if row.예측값 == 0 %}
                                                    비추천
                                                {% elif row.예측값 == 1 %}
                                                    보통
                                                {% else %}
                                                    적합
                                                {% endif %}
                                            </td>
                                        </tr>
                                        {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->

            </div>
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Content Row -->
                    <!-- Bar Chart -->
                    <div class="row">
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Bar Chart</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-bar">
                                        <canvas id="myBarChart"></canvas>
                                    </div>
                                    <hr>
                                    Styling for the bar chart can be found in the
                                    <code>/js/demo/chart-bar-demo.js</code> file.
                                </div>
                            </div>
                        </div>

                        <!-- Donut Chart -->
                        <div class="col-xl-4 col-lg-5">
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Donut Chart</h6>
                                </div>
                                <div class="card-body">
                                    <div class="chart-pie pt-4">
                                        <canvas id="myPieChart"></canvas>
                                    </div>
                                    <hr>
                                    Styling for the donut chart can be found in the
                                    <code>/js/demo/chart-pie-demo.js</code> file.
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div> 
            <!-- End of Main Content -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{%static 'vendor/jquery/jquery.min.js'%}"></script>
    <script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{%static 'vendor/jquery-easing/jquery.easing.min.js'%}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{%static 'js/sb-admin-2.min.js'%}"></script>
    <!-- Page level plugins -->
    <script src="{%static 'vendor/chart.js/Chart.min.js'%}"></script>
    <script src="{%static 'vendor/datatables/jquery.dataTables.min.js'%}"></script>
    <script src="{%static 'vendor/datatables/dataTables.bootstrap4.min.js'%}"></script>

<!-- Page level custom scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var myPieChart
    var myBarChart
    $(document).ready(function() {
      $('input[type="button"]').on('click', function(event) {
        event.preventDefault();
  
        var form = $(this).closest('form'); // 클릭된 버튼의 부모 폼 요소
        var formData = form.serialize(); // 폼 데이터
  
        $.ajax({
          url: form.attr('action'),
          type: form.attr('method'),
          data: formData,
          success: function(response) {
            plotchart(response);
            piechart(response);
          },
          error: function(xhr, errmsg, err) {
            console.log(xhr.status + ": " + xhr.responseText);
          }
        });
      });
    });
    
    function piechart(data) {
        var ctx = document.getElementById("myPieChart").getContext('2d');
        if (myPieChart) {
            myPieChart.destroy(); //기존차트 객체 제거
        }
        myPieChart = new Chart(ctx, {

            type: 'doughnut',
            data: {
                labels: ['자전거도로', '지하철역/정류장', '공원', '관광지', '학교'],//,'유동인구'],
                datasets: [{
                backgroundColor: ['red', 'green', 'blue', 'orange', 'purple'],//,'red'],
                hoverBackgroundColor: ['lightcoral', 'lightgreen', 'lightblue', 'lightsalmon', 'lightpurple'],//,'lightcoral'], // 각 데이터에 대한 hover 색상 설정
                borderColor: 'rgba(0, 0, 0, 0.1)',
                data: [
                Number(data.cycle),
                Number(data.train),
                Number(data.park),
                Number(data.tour),
                Number(data.school),
                //Number(data.pop),
                ],
                }],
            },
            options: {
                maintainAspectRatio: false,
                layout: {
                padding: {
                    left: 10,
                    right: 25,
                    top: 25,
                    bottom: 0
                } },}
        });
      }
    function plotchart(data) {
        var ctx = document.getElementById("myBarChart").getContext('2d');
        if (myBarChart) {
            myBarChart.destroy();
        }
        myBarChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['자전거도로', '지하철역/정류장', '공원', '관광지', '학교'],//,'유동인구'],
                datasets: [{
                backgroundColor: ['red', 'green', 'blue', 'orange', 'purple'],//,'red'],
                hoverBackgroundColor: ['lightcoral', 'lightgreen', 'lightblue', 'lightsalmon', 'lightpurple'],//,'lightcoral'], // 각 데이터에 대한 hover 색상 설정
                borderColor: 'rgba(0, 0, 0, 0.1)',
                data: [
                Number(data.cycle),
                Number(data.train),
                Number(data.park),
                Number(data.tour),
                Number(data.school),
                //Number(data.pop),
                ],
                }],
            },
            options: {
            maintainAspectRatio: false,
            layout: {
                padding: {
                left: 10,
                right: 25,
                top: 25,
                bottom: 0
                }
            },
            scales: {
                yAxes: [{
                    ticks: {
                        min: 0,
                        max: 100,
                      },
                  }],
              }
            }
        });
    }
  </script>
  
  
  
</body>

</html>