{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>서울시 자전거 대여소 현황</title>
    <link rel='stylesheet' type="text/css" href="{% static 'style.css' %}"/>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  
    {% comment %} justify-content: space-between; 스타일은 자식 요소들 사이에 공간을 균등하게 배분합니다 {% endcomment %}
</head>
<body>
    <div class="map-container"> <!-- 한 화면에 표시하기 위해 container css 새로 생성 -->
        <div class="map-section">
        <div class="map-title">서울시 대여소 현황</div>
        <div class="map">
            {{map | safe}}
        </div>
    </div>
               
    {% comment %} folium 데이터를 받아올때 | safe를 사용해야 함{% endcomment %}
    <div class="map-section">
        <div class="map-title">제주도 대여소 현황</div>
            <div class="map">
                {{map2 | safe}}
            </div>
        </div>
    </div>
 <input type="button" id='chart' value='차트페이지 이동'>
 <script src="text/javascript">
 $(document).ready(function(){
    $('#chart').click(function(){
        location.href = 'chart/'
    })
});
</script>
</body>
</html>

