{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>bike - Charts</title>
    {% comment %} 모달창 작업을 진행합니다. {% endcomment %}
    <style>
        #my_modal {
            display: none;
            width: 300px;
            padding: 20px 60px;
            background-color: #fefefe;
            border: 1px solid #888;
            border-radius: 3px;
        }

        #my_modal .modal_close_btn {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    </style>

    <!-- Custom fonts for this template-->
    <link href="{%static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{%static 'css/sb-admin-2.min.css'%}" rel="stylesheet">
</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-secondary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">현황</div>
            </a>
           

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>HOME</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>메뉴</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="/showmap/map/">지도보기</a>
                        <a class="collapse-item" href="/statistics/">통계</a>
                        <a class="collapse-item" href="/showchart/charts">현황</a>
                        <a class="collapse-item" href="/myhist">결과이력</a>
                        <div class="collapse-divider"></div>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
    <!-- Custom fonts for this template -->
    <link href="{%static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{%static 'css/sb-admin-2.min.css'%}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="{%static 'vendor/datatables/dataTables.bootstrap4.min.css'%}" rel="stylesheet">

</head>

<body id="page-top">
    <!-- Page Wrapper -->
    {% comment %} <div id="wrapper"> {% endcomment %}
        <!-- Content Wrapper -->
        {% comment %} <div id="content-wrapper" class="d-flex flex-column"> {% endcomment %}
            <!-- Main Content -->
            <div id="content">
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-body">   
                            
                                <div class="map-container"> <!-- 한 화면에 표시하기 위해 container css 새로 생성 -->
                                    <div class="map-section" style='width: 550px;'>
                                    <div class="map-title" style='margin-bottom:20px'>(1-1) 서울시 대여소 현황<div style="float:right"><button class="btn btn-secondary" id="popup_open_btn">설명</button></div></div>
                                    <div class="map">
                                    {% if maps1 %}
                                        {{maps1 | safe}}                                                 
                                    {% else %}
                                        <div>자료가 넘어오지 않았습니다.</div>
                                    {% endif%}
                                    </div>
                                </div>
                                <br/>
                                <br/>
                                {% comment %} <button id="popup_open_btn">설명</button> {% endcomment %}
                                        <div class="map-section">
                                            <div class="map-title" style='margin-bottom:20px'>(2-1) 서울시 대여소 현황</div>
                                            <div class="map">
                                            {% if maps3 %}
                                                {{maps3 | safe}}                                                 
                                            {% else %}
                                                <div>자료가 넘어오지 않았습니다.</div>
                                            {% endif%}
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <!-- /.container-fluid -->
                



            {% comment %} </div> {% endcomment %}
        <!-- Content Wrapper -->
        {% comment %} <div id="content-wrapper" class="d-flex flex-column"> {% endcomment %}

            <!-- Main Content -->
            <div id="content" style="center">

                <!-- Topbar -->


                <!-- Begin Page Content -->
                <div class="container-fluid" >

                    <div class="card shadow mb-4">
                        <div class="card-body">   
                            
                                <div class="map-container" style="justify-content: space-around; align-items: center; "> <!-- 한 화면에 표시하기 위해 container css 새로 생성 -->
                                    <div class="map-container"> <!-- 한 화면에 표시하기 위해 container css 새로 생성 -->
                                                                            {% comment %} folium 데이터를 받아올때 | safe를 사용해야 함{% endcomment %}
                                    <div class="map-section"style='width: 550px;'>
                                        <div class="map-title" style='margin-bottom:20px' >(1-2) 서울시 유동인구 현황</div>
                                            <div class="map">
                                            {% if maps1 %}
                                                {{maps2 | safe}}
                                            {% else %}
                                                <div>자료가 넘어오지 않았습니다.</div>
                                            {% endif%}
                                            </div>
                                    </div>
                                    <br/>
                                    <br/>
                                        {% comment %} folium 데이터를 받아올때 | safe를 사용해야 함{% endcomment %}
                                        <div class="map-section">
                                            <div class="map-title" style='margin-bottom:20px' >(2-2) 제주도 대여소 현황</div>
                                                <div class="map">
                                                {% if maps4 %}
                                                    {{maps4 | safe}}
                                                {% else %}
                                                    <div>자료가 넘어오지 않았습니다.</div>
                                                {% endif%}
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>   
                    </div>

                    

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
           <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer> 
            <!-- End of Footer -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>
    {% comment %} 모달창 {% endcomment %}
    <div id="my_modal">
        <span>앞서 분석페이지를 통해 월별 공공자전거의 이용건수는 지속적으로 증가하고 제주도의 관광객 수도 앤데믹 이후 점차 회복됨을 알 수 있었습니다.</span>
        <br/><br/>
        <span>이에 서울시 유동인구와 자전거 대여소 현황을 비교하여 유동인구가 많은 지역에 자전거 대여소가 많다는 연관관계를 확인하였고, 제주도에 현재 자전거 수가 서울에 비해 상당히 적은 것을 확인하였습니다.</span>   
        <br/><br/>
        <div>이를 통해서 제주도에서도 유동인구가 많은 지역 그리고 다른 요소들을 고려하여, 자전거 대여소 입지를 추천하는 서비스를 계획하였습니다.</div>   
        <a class="modal_close_btn">닫기</a>
    </div>

    {% comment %} <button id="popup_open_btn">팝업창 띄어 줘염</button> {% endcomment %}
    

    

    <!-- Bootstrap core JavaScript-->
    <script src="{%static 'vendor/jquery/jquery.min.js'%}"></script>
    <script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{%static 'vendor/jquery-easing/jquery.easing.min.js'%}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{%static 'js/sb-admin-2.min.js'%}"></script>

    <!-- Page level plugins -->
    <script src="{%static 'vendor/chart.js/Chart.min.js'%}"></script>
    <script src="{%static 'vendor/datatables/jquery.dataTables.min.js'%}"></script>
    <script src="{%static 'vendor/datatables/dataTables.bootstrap4.min.js'%}"></script>

    <!-- Page level custom scripts -->
    <script src="{%static 'js/demo/chart-area-demo.js'%}"></script>
    <script src="{%static 'js/demo/chart-pie-demo.js'%}"></script>
    <script src="{%static 'js/demo/chart-bar-demo.js'%}"></script>

    <script>
        $(document).ready(function(){
            function modal(id) {
                var zIndex = 9999;
                var modal = $('#' + id);
            
                // 모달 div 뒤에 희끄무레한 레이어
                var bg = $('<div>')
                    .css({
                        position: 'fixed',
                        zIndex: zIndex,
                        left: '0px',
                        top: '0px',
                        width: '100%',
                        height: '100%',
                        overflow: 'auto',
                        // 레이어 색갈은 여기서 바꾸면 됨
                        backgroundColor: 'rgba(0,0,0,0.4)'
                    })
                    .appendTo('body');
            
                modal
                    .css({
                        position: 'fixed',
                        boxShadow: '0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)',
                        height: '300px',
                        width: '640px',
                        // 시꺼먼 레이어 보다 한칸 위에 보이기
                        zIndex: zIndex + 1,
            
                        // div center 정렬
                        top: '50%',
                        left: '50%',
                        transform: 'translate(-50%, -50%)',
                        msTransform: 'translate(-50%, -50%)',
                        webkitTransform: 'translate(-50%, -50%)'
                    })
                    .show()
                    // 닫기 버튼 처리, 시꺼먼 레이어와 모달 div 지우기
                    .find('.modal_close_btn')
                    .on('click', function() {
                        bg.remove();
                        modal.hide();
                    });
            }
            
            $('#popup_open_btn').on('click', function() {
                // 모달창 띄우기
                modal('my_modal');
            });
        })
    </script>

</body>

</html>