{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>bike - Charts</title>

    <!-- Custom fonts for this template-->
    <link href="{%static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{%static 'css/sb-admin-2.min.css'%}" rel="stylesheet">
</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">CHARTS</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>HOME</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>메뉴</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="../statistics/">분석</a>
                        <a class="collapse-item" href="../submap/submap">현황</a>
                        <a class="collapse-item" href="../report/report">보고서</a>
                        <div class="collapse-divider"></div>
                    </div>
                </div>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
    <!-- Custom fonts for this template -->
    <link href="{%static 'vendor/fontawesome-free/css/all.min.css'%}" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{%static 'css/sb-admin-2.min.css'%}" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="{%static 'vendor/datatables/dataTables.bootstrap4.min.css'%}" rel="stylesheet">

</head>

<body id="page-top">
    <!-- Page Wrapper -->
    {% comment %} <div id="wrapper"> {% endcomment %}
        <!-- Content Wrapper -->
        {% comment %} <div id="content-wrapper" class="d-flex flex-column"> {% endcomment %}
            <!-- Main Content -->
            <div id="content">
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-body">   
                            
                                <div class="map-container"> <!-- 한 화면에 표시하기 위해 container css 새로 생성 -->
                                    <div class="map-section" style='width: 600px;'>
                                    <div class="map-title">(1) 서울시 대여소 현황</div>
                                    <div class="map">
                                    {% if maps1 %}
                                        {{maps1 | safe}}                                                 
                                    {% else %}
                                        <div>자료가 넘어오지 않았습니다.</div>
                                    {% endif%}
                                    </div>
                                </div>
                                <br/>
                                <br/>

                                        <div class="map-section">
                                            <div class="map-title">(3) 서울시 대여소 현황</div>
                                            <div class="map">
                                            {% if maps3 %}
                                                {{maps3 | safe}}                                                 
                                            {% else %}
                                                <div>자료가 넘어오지 않았습니다.</div>
                                            {% endif%}
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <!-- /.container-fluid -->
                



            {% comment %} </div> {% endcomment %}
        <!-- Content Wrapper -->
        {% comment %} <div id="content-wrapper" class="d-flex flex-column"> {% endcomment %}

            <!-- Main Content -->
            <div id="content" style="center">

                <!-- Topbar -->


                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div class="card shadow mb-4">
                        <div class="card-body">   
                            
                                <div class="map-container" style="justify-content: space-around; align-items: center; "> <!-- 한 화면에 표시하기 위해 container css 새로 생성 -->
                                    <div class="map-container"> <!-- 한 화면에 표시하기 위해 container css 새로 생성 -->
                                                                            {% comment %} folium 데이터를 받아올때 | safe를 사용해야 함{% endcomment %}
                                    <div class="map-section"style='width: 600px;'>
                                        <div class="map-title">(2) 서울시 유동인구 현황</div>
                                            <div class="map">
                                            {% if maps1 %}
                                                {{maps2 | safe}}
                                            {% else %}
                                                <div>자료가 넘어오지 않았습니다.</div>
                                            {% endif%}
                                            </div>
                                    </div>
                                    <br/>
                                    <br/>
                                        {% comment %} folium 데이터를 받아올때 | safe를 사용해야 함{% endcomment %}
                                        <div class="map-section">
                                            <div class="map-title">(4) 제주도 대여소 현황</div>
                                                <div class="map">
                                                {% if maps4 %}
                                                    {{maps4 | safe}}
                                                {% else %}
                                                    <div>자료가 넘어오지 않았습니다.</div>
                                                {% endif%}
                                                </div>
                                            </div>
                                        </div>
                                </div>

                                    
                            
                            </div>
                        </div>
                        
                    </div>

                    

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
           <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer> 
            <!-- End of Footer -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="{%static 'vendor/jquery/jquery.min.js'%}"></script>
    <script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{%static 'vendor/jquery-easing/jquery.easing.min.js'%}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{%static 'js/sb-admin-2.min.js'%}"></script>

    <!-- Page level plugins -->
    <script src="{%static 'vendor/chart.js/Chart.min.js'%}"></script>
    <script src="{%static 'vendor/datatables/jquery.dataTables.min.js'%}"></script>
    <script src="{%static 'vendor/datatables/dataTables.bootstrap4.min.js'%}"></script>

    <!-- Page level custom scripts -->
    <script src="{%static 'js/demo/chart-area-demo.js'%}"></script>
    <script src="{%static 'js/demo/chart-pie-demo.js'%}"></script>
    <script src="{%static 'js/demo/chart-bar-demo.js'%}"></script>

</body>

</html>