html
Copy code
<html>
<head>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>
<body>
  <canvas id="myChart" ></canvas>
<script>
// 파이 차트를 그릴 캔버스 요소 선택
var ctx = document.getElementById('myChart').getContext('2d');

// 데이터 준비
var labels = ['10대', '20대', '30대', '40대', '50대', '60대', '70대', '80대', '90대'];
var data = [8.0, 15.4, 15.5, 15.5, 16.1, 14.0, 7.6, 3.5, 4.5];

// 파이 차트 초기화
var myChart = new Chart(ctx, {
  type: 'pie',
  data: {
    labels: labels,
    datasets: [{
      label: '서울시 연령별 인구비',
      data: data,
      backgroundColor: ['red', 'blue', 'green', 'yellow', 'orange', 'purple', 'pink', 'brown', 'gray']
    }]
  },
  options: {    // 차트 옵션 설정
    aspectRatio: 5, // 가로 세로 비율을 1로 설정 (가로와 세로 크기가 동일하게 표시)
        {% comment %} scales: {
          y: {
            beginAtZero: true
          }
        }     {% endcomment %}
    y: {
        beginAtZero: true  // Y 축이 0부터 시작하도록 설정
        
      }
    
  }
});
</script>
</body>
</html>
