<!--
@author jujuclubw
@email dlrkdwn428@gmail.com
@create date 2023-06-13 10:51:47
@modify date 2023-06-13 11:10:07
@desc 통계 페이지
-->
{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>{% comment %} start bootstrap 사용함. {% endcomment %}
<html lang="en">
    <head>
        <title>Blog Post - Start Bootstrap Template</title>
        <!-- Favicon-->
        {% block extra_style %}
        <link rel="icon" type="image/x-icon"href="{% static 'assets/favicon.ico' %}"/>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        {% endblock %}
    </head>
    <body>
        <!-- Responsive navbar-->
        {% comment %} <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#!">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                       <li class="nav-item"><a class="nav-link" href="/">Home</a></li> 
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">Blog</a></li>
                    </ul>
                </div>
            </div>
        </nav> {% endcomment %}
        <!-- Page content-->
        {% block content %}
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">통계</h1>
                            <!-- Post meta content-->
                            <div class="text-muted fst-italic mb-2">서울시 / 제주도</div>
                            <!-- Post categories-->
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Web Design</a>
                            <a class="badge bg-secondary text-decoration-none link-light" href="#!">Freebies</a>
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="..\static\images\ori.png" alt="..." /></figure>
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4">Science is an enterprise that should be cherished as an activity of the free human mind. Because it transforms who we are, how we live, and it gives us an understanding of our place in the universe.</p>
                        </section>
                    </article>
                 
                </div>
              
      
        {% endblock %}
    </body>
</html>
